---
const { src, clock, alt, h3, } = Astro.props;
---

<div class={`rounded-xl`}>
  <img
    src={src}
    alt={alt}
    class="w-80 h-40 md:w-100 md:h-60 hover:scale-105 transition-transform duration-300 cursor-pointer"
  />
  <h3 class="pt-2 pb-1 font-bold font-roboto text-xl">{h3}</h3>
    <img src={clock} alt={alt} class="w-100"/>
</div>




