---
const { src, clock, alt, h3, p, size = "w-80 h-100" } = Astro.props;
---

<div class={`${size} ${size} rounded-xl overflow-hidden`}>
  <img src={src} alt={alt} class="w-full h-full object-cover" />
  <h3 class="pt-2 pb-1 font-bold text-xl">{h3}</h3>
  <div class="flex gap-2 items-center">
    <img src={clock} alt={alt} class="w-5 h-5" />
    <p class="font-normal text-lg">{p}</p>
  </div>
</div>
